extends ./layouts/main.pug

block content

  h1= title
  #wrapper
    .container.head
      ul.nav.nav-tabs
        li.active
          a(href='#') Twitter
        li
          a(href='#') Notification
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/logout') Logout
          li
            a(href='#') Link
            //- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
    .container
      h1= title
      .page-canvas
        .signin-wrapper
          .row.profile
            .col-sm-3
              .profile-sidebar
                //- SIDEBAR USERPIC
                each profile in results
                  .profile-userpic
                    img.img-responsive(src='./images/'+ profile.image, alt='')
                  .profile-usertitle
                    .profile-usertitle-name= profile.username

                .profile-usermenu
                  ul.nav
                    li
                      a(href='/profilechange')
                        i.glyphicon.glyphicon-user
                        |      Profile
                    li.active
                      a(href='/welcome')
                        i.glyphicon.glyphicon-home
                        |      home
                    li
                      a(href='#', target='_blank')
                        i.glyphicon.glyphicon-ok
                        |    folllowers

                //- END MENU
            .col-sm-6
              .profile-content
                .container
                  .row
                     i.glyphicon.glyphicon-pencil &nbsp;
                     | What's in your mind
                  .row
                    .col-sm-5
                      .widget-area.no-padding.blank
                        .status-upload

                          form(action='/tweet', method='post')

                            textarea(name='tweet' placeholder='What are you doing right now?')

                            button.btn.btn-primary(type='submit')
                              i.fa.fa-share
                              |  tweet

                  .row
                    .col-sm-5
                      p &nbsp;
                  .row
                    .col-sm-5
                      each row in tweets
                        .media.block-update-card
                          a.pull-left(href='#')
                            img.media-object.update-card-MDimentions(src='./images/'+ row.image, height = "50px" width="50px")
                          .media-body.update-card-body
                            h5.media-heading=row.username + ' · ' + row.time
                            p= row.tweet
                            a(href='/deletetweet/' + row.id)
                              i.glyphicon.glyphicon-trash

            .col-sm-3(style ="padding-top :30px")
              div(class="page-container")
                i.glyphicon.glyphicon-user &nbsp;
                | People you may know

                .sidebar-menu
                  each rows in follow
                    img.card.img-fluid.img-thumbnail(style = 'width: 20rem; padding-top :20px').card-img-top(src='./images/cover.jpg')
                    .card-block
                      h4.card-title= rows.username
                      form(method='post', action='/follower')
                        input(type='hidden',name='followerId',value=rows.user_id)
                        button.btn.btn-primary(type='submit') follow
